::-webkit-scrollbar { 
    display: none; 
}

body {
        background-color: #000;
        color: #FFFFFF;
        font-family: monospace;
}

#window {
        position: absolute;
        left: 100%;
        top: 2.5%;
        height: 95%;
        width: 360px;
        margin-left: -360px;
        overflow: scroll;
}
