::-webkit-scrollbar { 
    display: none; 
}

body {
        background-color: #000;
        color: #FFFFFF;
        font-family: monospace;
}

#window {
        position: absolute;
        top: 50%;
        left: 2.5%;
        width: 95%;
        height: 260px;
        margin-top: -130px;
        overflow: scroll;
}
